<template>
  <div id="app">
    <div class="container">
      <div class="row">
      <div class="col-md-10 form">
        <MultiSelectSearch id="search" />
      </div>
    </div>
    </div>
  </div>
</template>

<script>
import 'bootstrap/dist/js/bootstrap';
import 'bootstrap/less/bootstrap.less';
import MultiSelectSearch from './layouts/MultiSelectSearch.vue';

export default {
  components: {
    MultiSelectSearch
  },
};
</script>