<template>
<div style="max-width:600px;margin:0 auto">
    <h2>Компонент выпадающего списка</h2>
    <div class="form-group">
      <label>Выберите значение:</label>
      <div>
        <DmitryOrloffSelect style="width:100%!important"
          v-model="value"
          :options="localOptions"
          :multiple="multiple"
          :search="search"
		  :controls="controls"
          />
      </div>
	  <label style="padding-top:10px!important">Здесь отображается массив с выбранными значениями:</label>
	  <div class="selectedvalues">
		  <span v-for="(value, index) in value">
			<span v-if="index != 0">, </span><span>{{ value }}</span>
		  </span>
	  </div>
    </div>
</div>
</template>
<script>
import DmitryOrloffSelect from '@/components/DmitryOrloffSelect.vue';

export default {
  components: {
    DmitryOrloffSelect,
  },
  data: () => ({
	value: [
		{ value: 'Легковой автомобиль', text: 'Легковой автомобиль' }
	],
    localOptions: [
      { value: 'Легковой автомобиль', text: 'Легковой автомобиль' },
      { value: 'Мотоцикл', text: 'Мотоцикл' },
	  { value: 'Трактор', text: 'Трактор' },
	  { value: 'Грузовик', text: 'Грузовик' },
	  { value: 'Прицеп', text: 'Прицеп' },
	  { value: 'Велосипед', text: 'Велосипед' },
	  { value: 'Самокат', text: 'Самокат' },
	  { value: 'Гироскутер', text: 'Гироскутер' },
	  { value: 'Скейтборд', text: 'Скейтборд' },
	  { value: 'Электричка', text: 'Электричка' },
    ],
    remoteOptions: [],
    value: null,
    multiple: true,
    search: true,
    remote: true,
    controls: true
  }),
  computed: {
    options() {
      return this.remoteOptions;
    },
  },
  methods: {
    remoteSearch(filter) {
      this.remoteOptions = [];
      if (filter.length > 2) {
        // only search if bigger than 2
        const reg = new RegExp(`${filter}`, 'ig');
        // simulate async
        this.texts = {
          ...this.texts,
          empty: 'Загрузка ...',
        };
        setTimeout(() => {
          this.texts.empty = 'Не найдено';
          this.remoteOptions = [
            { value: 1, text: '1' },
            { value: 3, text: '3' },
            { value: 4, text: '4' },
            { value: 5, text: '5' },
            { value: 6, text: '6' },
            { value: 7, text: '7' },
            { value: 8, text: '8' },
          ].filter(o => reg.test(o.text));
        }, 2000);
      } else {
        this.texts = {
          ...this.texts,
          empty: 'Начните вводить текст для поиска',
        };
      }
    },
  },
};
</script>

<style>
  .selectedvalues{
	padding: 10px!important;
	margin: 10px 0!important;
	min-height: 40px;
	border: 1px #e8e8e8 solid;
	border-radius: 5px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
